.obsidian/app.json
.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/core-plugins.json
.obsidian/workspace.json
.obsidian/plugins/copy-as-html/main.js
.obsidian/plugins/copy-as-html/manifest.json
TPC1/.ipynb_checkpoints/emd-checkpoint.csv
TPC1/.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
TPC1/.ipynb_checkpoints/tpc1-checkpoint.py
TPC1/.ipynb_checkpoints/README-checkpoint.md
